#gameCanvas 
{
    background-image: url('../Game/img/background-gamex4.png');
    background-size: cover;
    width: 80%; 
    max-height: 90vh; 
    display: block;
    margin-left:40px;
    background-position: center 20px;
    background-repeat: no-repeat; 
    padding-top: 18px;
}

#points
{
    font-family: 'Courier New', Courier, monospace;
    color: #0b374a;
}

#game
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#container
{
    display: flex;
    justify-content: center;
    align-items:center;
    
}

#ph
{
    width: 15%;
    max-height: 460px;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../Game/img/PH-water-level.png");
    margin-top: 20px;
}

.popup-game 
{
    width: 90%;
    max-width: 800px;
    max-height: 100vh; 
    margin: 5vh auto; 
    padding: 20px;
    position: absolute;
    background-color: rgba(78, 137, 162, 0.9);
    border-radius: 8px;
    overflow-y: auto; 
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    z-index: 7;
    top: 0;
    bottom: 0;

}

.popup-inner-game 
{
    padding: 20px; 
    border:none;
}

#line
{
    background-color: black;
    width: 50px;
    max-width: 50px;
    height: 5px;
    position: relative;
}


::-webkit-scrollbar 
{
    width: 10px;
}
::-webkit-scrollbar-thumb 
{
    background: rgba(31, 102, 140, 0.4); 
}

